
header{
    height: 4.8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}

#header-sidebar{
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    margin-top: -1rem;
}
#header-sidebar span{
    margin-top: -1.5rem;
}
nav{
    color: #fff;
    display: flex;
    justify-content: space-around;   
    width: 80%;
    align-items: center;
    gap: 3rem;   
}
a{
    width: 5rem;
    padding: 1rem;
    text-decoration: none;
    color: inherit;
}
a > img{
    max-height: 100%;
    max-width: 100%;
}
a:hover{
    color: #ebc444;
}

#header-links{
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}
#header-links a {
    padding: 0;
}
#logo-eagle{
    padding: 0;
    width: 7rem;
}
#logo-site{
    height: 5rem;
}
ul{
    display: flex;
    gap: 1.4rem;
    list-style: none;
}

#header-infos{
    display: flex;
    justify-content: space-around;
    width: 50%;
    white-space: nowrap;
}
#header-infos img{
    height: 2rem;
}

#select-language{
    background-color: inherit;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    color: #fff;
    padding: 0.2rem;
}

#select-language:hover{
    color: chocolate;
}
#select-language img{
    border-radius: 50%;
    height: 1.5rem;
}

